/hotspot
/hotfloorplan

# object files
*.d
*.o
*.pyc
*.a

# emacs temp files
*~

# test output
Amatrixcolptr
Amatrixnzval
Amatrixrowind
Bmatrix
Cmatrix
Lmatrix
Pmatrix*
*.trace

# VS CODE FILES
.vscode
.DS_Store

# Matlab matrices
*.mat

# Log files
*.log